.MobileNav {
    box-sizing: border-box;
    background-color: #215C75;
    height: 56px;
    display: flex;
    width: 100%;
    border : 0px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    z-index: 50;
    position: relative;
}

.Logo {
    height: 60%;
}

.NavRight {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-left: 10px;
    box-sizing: border-box;
}

.AppLink {
    height: 55%;
    border: 1px solid white;
    border-radius: 20px;
    width: 120px;
    font-weight: 700;
}

